<div class="live-status-container">
  <app-user-info-bar></app-user-info-bar>
  <h2>Live Status User Connections</h2>
  <div *ngIf="isAdmin; else notAdmin">
    <h3>Connected Users</h3>
    <ul>
      <div class="action-bar">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search Connected User...</mat-label>
          <app-searchfilter [searchTerm]="searchTerm" (searchChange)="onSearchChange($event)"></app-searchfilter>
        </mat-form-field>
      </div>
      <br />
      <li *ngFor="let user of connectedUsers">
        <strong>Connection ID:</strong> {{ user.ConnectionId }} <br>
        <strong>Name:</strong> {{ user.Name }} <br>
        <strong>Email:</strong> {{ user.Email }}
        <strong>Role:</strong> {{ user.Role }}
      </li>
    </ul>
  </div>  
</div>
