<div class="live-status-container">
  <h2>Live Status User Connections</h2>
  <div *ngIf="isAdmin; else notAdmin">
    <h3>Connected Users</h3>
    <div class="action-bar">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search Connected User...</mat-label>
        <app-search-filter (searchChange)="onSearchChanged($event)"></app-search-filter>
      </mat-form-field>
    </div>
    <ul>
      <li *ngFor="let user of connectedUsers">
        <strong>Connection ID:</strong> {{ user?.connectionId }} <br>
        <strong>Name:</strong> {{ user?.name }} <br>
        <strong>Email:</strong> {{ user?.email }} <br>
        <strong>Role:</strong> {{ user?.role }}
      </li>
    </ul>
  </div>
  <ng-template #notAdmin>
    <div class="not-admin-message">
      <h3>Access Denied</h3>
      <p>You do not have the necessary permissions to view this page.</p>
    </div>
  </ng-template>
</div>
