<div class="add-product-container">
  <div class="user-info-bar" *ngIf="user">
    <span class="greeting" [(ngModel)]="user">Hello, {{ user.name }}</span>
    <span class="separator" [(ngModel)]="user"> | </span>
    <span class="email" [(ngModel)]="user">Email: {{ user.email }}</span>
    <span class="separator" [(ngModel)]="user"> | </span>
    <span class="role" [(ngModel)]="user">Role: {{ user.role }}</span>
    <span class="connectionId" [(ngModel)]="user">Role: {{ user.connectionId }}</span>
  </div>
  <mat-card class="add-product-card">
    <mat-card-content>
      <form #addProductForm="ngForm" novalidate>
        <mat-card-header>
          <mat-card-title>
            <h2>Add Product</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput id="name" name="name" [(ngModel)]="newProduct.name" #name="ngModel">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description</mat-label>
          <textarea matInput id="description" name="description" [(ngModel)]="newProduct.description"
                    #description="ngModel"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Price</mat-label>
          <input matInput type="number" id="price" name="price" [(ngModel)]="newProduct.price" required min="0"
                 #price="ngModel">
          <mat-error *ngIf="price.invalid && (price.dirty || price.touched)">
            Price is required and must be non-negative.
          </mat-error>
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" id="quantity" name="quantity" [(ngModel)]="newProduct.quantity" required
                 min="0" #quantity="ngModel">
          <mat-error *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
            Quantity is required and must be non-negative.
          </mat-error>
          <mat-icon matSuffix>production_quantity</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Image URL</mat-label>
          <input matInput id="imageUrl" name="imageUrl" [(ngModel)]="newProduct.imageUrl" #imageUrl="ngModel">
          <mat-icon matSuffix>image</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" (ngSubmit)="addProduct()" [disabled]="addProductForm.invalid"
                class="add-button">
          Add Product
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="remove-product-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Remove Product</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #removeProductForm="ngForm" novalidate>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Product Name</mat-label>
          <input matInput id="productName" [(ngModel)]="productName" name="productName" required
                 #productName="ngModel">
          <mat-error *ngIf="productName.invalid && (productName.dirty || productName.touched)">
            Product Name is required.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="warn" type="submit" (ngSubmit)="deleteProduct()"
                class="remove-button">
          Remove Product
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
